*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app-name {
  margin-left: 1.4vw;
  font-size: 26px;
}

.welcome-banner {
  width: 100vw;
  height: 5vh;
  background-color: #78C1E7;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-banner-right {
  width: 6vw;
}

.error-message {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message-text {
  font-size: xx-large;
  padding: 10px;
  border: 5px solid red;
}

.data-display {
  height: 95vh;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  background-color: #191923;
}

.friends-profile {
  background-color: #78C1E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.submit-message {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.submit-message-test {
  color: #78C1E7;
}

.user-data-entry-form {
  display: none;
  width: 15vw;
  height: fit-content;
  overflow-x: auto;
  align-items: center;
  flex-direction: column;
  background-color:#78C1E7;
  border-radius: 3px;
  font-size: 10px;
  margin-top: 5px;
}

.label-and-x {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.hide-form-button {
  height: 5%;
  width: 5%;
}

.input-form-headings {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 5px;
}

.user-input-labels {
  text-align: center;
  font-size: 10px;
}

.hide-form-button:hover {
  cursor: pointer;
}

.user-input-fields {
  text-align: center;
}

.user-data-submit-button {
  width: fit-content;
  height: fit-content;
  margin-top: 3px;
  margin-bottom: 3px;
}

.fit-data-section {
  height: 88vh;
  width: 25vw;
  background-color: #FBFEF9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.fit-data {
  font-size: 14px;
  width: 22vw;
  text-align: center;
}


.highlight {
  font-size: 16px;
  text-align: center;
}

.steps-text {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.button-container {
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.activity-display-button,
.more-activity-display-button {
  background-color: #FBA03F;
  border-radius: 5px;
  cursor: pointer;
	height: 30px;
  width: 200px;
  border: none;
}
.activity-display-button:hover,
.more-activity-display-button:hover {
  outline: #BF1363;
  outline-style: solid;
  outline-offset: -1px;
  outline-width: 4px;
  cursor: pointer;
}

.week-sleep-chart,
.week-hydration-chart {
  height: 25vh;
  width: 20vw;
  margin-bottom: 1vh;
}

.week-step-chart {
  height: 20vh;
}

.fit-data-header {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
  margin-top: 2vh;
}

.doughnut {
  height: 27vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  border-radius: 50%;
  border: 0px;
  width: 62px;
  height: 62px;
  margin-bottom: -30%;
  margin-top: -30px;
  font-size: 26px;
}

.user-avatar:hover {
  outline: #FBA03F;
  outline-style: solid;
  outline-offset: -1px;
  outline-width: 5px;
  cursor: pointer;
}

.single-friend {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 14vw;
  font-size: 14px;
}

.friend-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 8px;
  border: 0px;
  height: 40px;
  width: 40px;
  font-size: small;
}

.user-tab {
  height: 55vh;
  width: 15vw;
  margin-top: 20%;
  margin-bottom: 3%;
  background-color: #78C1E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 14vw;
  font-size: 12px;
}

.user-name {
  margin-top: 35%;
  padding-bottom: 5%;
  font-size: 16px;
}

.user-name:hover {
  color: #BF1363;
  cursor: pointer;
}


.dropbutton {
  background-color: #78C1E7;
  border-radius: 3px;
  color: #191923;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.data-dropdown {
  display: none;
  position: absolute;
  background-color: #FBFEF9;
  overflow: auto;
  width: 15%;
}

.drop-option {
  border: 0;
  padding: 5px;
}

.drop-option:hover {
  cursor: pointer;
  background-color: #FBFEF9;
}

.show {
  display: flex;
  flex-direction: column;
}

.no-data {
  font-size: 20px;
  text-align: center;
  background-color: #fba03f4a;
}

.small-error-message {
  font-size: 15px;
	padding: 5px;
}

.hidden {
  display: none;
}

@media (max-width: 740px) {
  
  .data-display {
    height: 270vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .welcome-message {
    font-size: 14px;
  }

  .user-avatar {
    border-radius: 50%;
    border: 0px;
    width: 62px;
    height: 62px;
    margin-bottom: -30%;
    margin-top: -30px;
    font-size: 26px;
  }

  .friend-avatar {
    height: 30px;
    width: 40px;
    font-size: 16px;
  }

  .fit-data-section {
    height: 100vh;
    width: 50vw;
  }

  .fit-data {
    width: 35vw;
    text-align: center;
  }

  .user-tab {
    height: 55vh;
    width: 40vw;
  }
}

